.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 30px;
}
.subtitle {
  text-align: center;
}
.container {
  height: 100vh;
}

.title {
  padding-top: 10px;
}
.icon {
  width: 50px;
  height: 50px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.input-search-address {
  margin: 22px;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border-color: #bc8cf2;
  border-style: solid;
  background-color: #eeeeee;
  position: relative;
}

.input-postal-code {
  margin: 22px;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border-color: #bc8cf2;
  border-style: solid;
  background-color: #eeeeee;
}
input:focus {
  outline-color: #aa14f0;
  background-color: #ffff;
  box-shadow: 3px -2px 8px #bc8cf2;
}
input::placeholder {
  color: #000000;
  font-weight: 600;
}

.title {
  color: black;
}

.containerSearchAddress {
  position: relative;
}
.containerSearchCep {
  display: flex;
  flex-direction: column;
}
.search-address {
  position: relative;
  width: 180px;
}
.search-img {
  margin-top: 30px;
  background-color: #eeee;
}

.button-address {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10px;
}
.button-address input {
  width: 100%;
}
.button-postal-code {
  background-color: #bc8cf2;
  border-radius: 5px;
  padding: 10px;
  border-style: none;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 600;
}
.button-postal-code:hover {
  box-shadow: 1px 2px 6px #aa14f0;
}

.content-main {
  display: flex;
  justify-content: center;
  height: 40vh;
  padding-top: 40px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  width: 500px;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px #c49cd6;
  margin-bottom: 40px;
}

.main h2 {
  margin: 16px 0;
  font-size: 30px;
  background-color: #ffff;
}

.main span {
  margin-bottom: 16px;
  font-weight: bold;
  background-color: #ffff;
}
.main ul {
  list-style: none;
}
.main li {
  font-weight: bold;
  background-color: #ffff;
}
